In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mutual_info_score
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv("AB_NYC_2019.csv")

In [3]:
new_data = data[['neighbourhood_group', 'room_type', 'latitude', 'longitude', 'minimum_nights',
                 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count',
                 'availability_365', 'price']].copy()

In [4]:
new_data.head()

,neighbourhood_group,room_type,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,price
0,Brooklyn,Private room,40.64749,-73.97237,1,9,0.21,6,365,149
1,Manhattan,Entire home/apt,40.75362,-73.98377,1,45,0.38,2,355,225
2,Manhattan,Private room,40.80902,-73.94190,3,0,NaN,1,365,150
3,Brooklyn,Entire home/apt,40.68514,-73.95976,1,270,4.64,1,194,89
4,Manhattan,Entire home/apt,40.79851,-73.94399,10,9,0.10,1,0,80

# Question 1

In [5]:
new_data['neighbourhood_group'].mode()

0    Manhattan
dtype: object

Most common neighbourhood is Manhattan

# Question 2

In [6]:
new_data.corr()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,price
latitude,1.000000,0.084788,0.024869,-0.015389,-0.010142,0.019517,-0.010983,0.033939
longitude,0.084788,1.000000,-0.062747,0.059094,0.145948,-0.114713,0.082731,-0.150019
minimum_nights,0.024869,-0.062747,1.000000,-0.080116,-0.121702,0.127960,0.144303,0.042799
number_of_reviews,-0.015389,0.059094,-0.080116,1.000000,0.549868,-0.072376,0.172028,-0.047954
reviews_per_month,-0.010142,0.145948,-0.121702,0.549868,1.000000,-0.009421,0.185791,-0.030608
calculated_host_listings_count,0.019517,-0.114713,0.127960,-0.072376,-0.009421,1.000000,0.225701,0.057472
availability_365,-0.010983,0.082731,0.144303,0.172028,0.185791,0.225701,1.000000,0.081829
price,0.033939,-0.150019,0.042799,-0.047954,-0.030608,0.057472,0.081829,1.000000

In [7]:
c = new_data.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort", ascending = False)

In [8]:
so[8:]

number_of_reviews               reviews_per_month                 0.549868
reviews_per_month               number_of_reviews                 0.549868
availability_365                calculated_host_listings_count    0.225701
calculated_host_listings_count  availability_365                  0.225701
availability_365                reviews_per_month                 0.185791
reviews_per_month               availability_365                  0.185791
number_of_reviews               availability_365                  0.172028
availability_365                number_of_reviews                 0.172028
longitude                       price                             0.150019
price                           longitude                         0.150019
reviews_per_month               longitude                         0.145948
longitude                       reviews_per_month                 0.145948
minimum_nights                  availability_365                  0.144303
availability_365                minimum_nights                    0.144303
calculated_host_listings_count  minimum_nights                    0.127960
minimum_nights                  calculated_host_listings_count    0.127960
reviews_per_month               minimum_nights                    0.121702
minimum_nights                  reviews_per_month                 0.121702
calculated_host_listings_count  longitude                         0.114713
longitude                       calculated_host_listings_count    0.114713
                                latitude                          0.084788
latitude                        longitude                         0.084788
longitude                       availability_365                  0.082731
availability_365                longitude                         0.082731
                                price                             0.081829
price                           availability_365                  0.081829
minimum_nights                  number_of_reviews                 0.080116
number_of_reviews               minimum_nights                    0.080116
                                calculated_host_listings_count    0.072376
calculated_host_listings_count  number_of_reviews                 0.072376
longitude                       minimum_nights                    0.062747
minimum_nights                  longitude                         0.062747
number_of_reviews               longitude                         0.059094
longitude                       number_of_reviews                 0.059094
price                           calculated_host_listings_count    0.057472
calculated_host_listings_count  price                             0.057472
price                           number_of_reviews                 0.047954
number_of_reviews               price                             0.047954
price                           minimum_nights                    0.042799
minimum_nights                  price                             0.042799
latitude                        price                             0.033939
price                           latitude                          0.033939
reviews_per_month               price                             0.030608
price                           reviews_per_month                 0.030608
minimum_nights                  latitude                          0.024869
latitude                        minimum_nights                    0.024869
                                calculated_host_listings_count    0.019517
calculated_host_listings_count  latitude                          0.019517
number_of_reviews               latitude                          0.015389
latitude                        number_of_reviews                 0.015389
                                availability_365                  0.010983
availability_365                latitude                          0.010983
reviews_per_month               latitude                          0.010142
latitude                        reviews_per_month                 0.010142
reviews_per_month               calculated_host_listings_count    0.009421
calculated_host_listings_count  reviews_per_month                 0.009421
dtype: float64

The most correlated pair is number of reviews and reviews per month at 0.54

Nothing technically qualifies as a strong correlation as there are no values > 0.6

In [9]:
new_data['price']

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [10]:
new_data['above_average'] = new_data['price'].apply(lambda x: 1 if x >= new_data['price'].mean() else 0)

New column made with a binary outcome for price

# Question 3

In [11]:
new_data.dtypes

neighbourhood_group                object
room_type                          object
latitude                          float64
longitude                         float64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
price                               int64
above_average                       int64
dtype: object

In [12]:
X1 = new_data.drop(["price", "above_average"], axis = 1).copy()
X1.fillna(0, inplace = True)
y1 = new_data["above_average"]

X_train1, X_test1, y_train1, y_test1 = tts(X1, y1, test_size = 0.4, random_state = 42)

X_test1, X_val1, y_test1, y_val1 = tts(X_test1, y_test1, test_size = 0.5, random_state = 42)

In [13]:
round(mutual_info_score(X_train1['neighbourhood_group'], y_train1), 2)

0.05

In [14]:
round(mutual_info_score(X_train1['room_type'], y_train1), 2)

0.14

Room type has the bigger mutual info score with the binarized price variable

# Question 4

In [15]:
X = new_data.drop(["price", "above_average"], axis = 1).copy()
X.fillna(0, inplace = True)
X = pd.get_dummies(X, drop_first = True)
y = new_data["above_average"]

X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.4, random_state = 42)

X_test, X_val, y_test, y_val = tts(X_test, y_test, test_size = 0.5, random_state = 42)

In [16]:
model = LogisticRegression(solver = 'lbfgs', C = 1.0, random_state = 42)
model.fit(X_train, y_train)

C:\Users\Rogges\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [17]:
round(accuracy_score(y_val, model.predict(X_val)), 2)

0.79

# Question 5