In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as tts
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv("AB_NYC_2019.csv")
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
new_data = data[['latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews',
                 'reviews_per_month', 'calculated_host_listings_count',
                 'availability_365']].copy()
new_data.head()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,40.64749,-73.97237,149,1,9,0.21,6,365
1,40.75362,-73.98377,225,1,45,0.38,2,355
2,40.80902,-73.94190,150,3,0,NaN,1,365
3,40.68514,-73.95976,89,1,270,4.64,1,194
4,40.79851,-73.94399,80,10,9,0.10,1,0

# Question 1

Which feature has missing values? How many are missing?

In [4]:
new_data.isnull().sum()

latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# Question 2

What is the median value for minimum_nights?

In [5]:
new_data["minimum_nights"].median()

3.0

In [6]:
X = new_data.drop(["price"], axis = 1).copy()
y = new_data["price"]

X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.4, random_state = 42)

X_test, X_val, y_test, y_val = tts(X_test, y_test, test_size = 0.5, random_state = 42)

In [7]:
y_train = np.log1p(y_train)
y_val = np.log1p(y_val)
y_test = np.log1p(y_test)

# Question 3

In [8]:
mean_reviews = X_train["reviews_per_month"].mean()
mean_reviews

1.378559624736429

In [9]:
X_train_0 = X_train.fillna(0).copy()
X_train_mean = X_train.fillna(mean_reviews).copy()

$Xw = y$

Can't invert X because pretty much all data matrices are non square, so you won't be able to get an optimal solution for the weights. You can however use the tranpose to get the Gram matrix which is always square and invert that. Then multiplying the Gram matrix with its inverse will yield the identity matrix and isolate $w$.

$(X^{T}X)^{-1}(X^{T}X)w = (X^{T}X)^{-1}X^{T}y$

$w = (X^{T}X)^{-1}X^{T}y$

Admittedly, the Gram matrix isn't always invertible (if it's columns aren't linearly independent) which can be fixed with regularization which will be used later on in the notebook

In [10]:
def train_linear_regression(X, y):
    X = np.array(X)
    X = np.column_stack([np.ones(X.shape[0]), X])
    y = np.array(y)
    X_transpose = X.T
    XTX = X_transpose.dot(X)
    XTX_inverse = np.linalg.inv(XTX)
    w = XTX_inverse.dot(X_transpose).dot(y).round(2)
    
    return w[0], w[1:]

In [11]:
train_linear_regression(X_train_0, y_train)

(-440.38, array([ 1.48, -5.2 , -0.  , -0.  , -0.  ,  0.  ,  0.  ]))

In [12]:
train_linear_regression(X_train_mean, y_train)

(-443.49, array([ 1.48, -5.24, -0.  , -0.  ,  0.01,  0.  ,  0.  ]))

In [13]:
w01, w = train_linear_regression(X_train_mean, y_train)
w02, w1 = train_linear_regression(X_train_0, y_train)

In [14]:
def RMSE(y, y_pred):
    return round(np.mean((y_pred - y)**2)**0.5, 2)

In [15]:
y_pred_val = w02 + np.array(X_val.fillna(0)).dot(w1)
y_pred_mean_val = w01 + np.array(X_val.fillna(X_val["number_of_reviews"].mean())).dot(w)

RMSE(y_val, y_pred_val), RMSE(y_val, y_pred_mean_val)

(0.71, 0.75)

It appears that filling with 0 is an inferior option to using the mean to fill.

# Question 4

In [16]:
def train_linear_regression_reg(X, y, r = 0.001):
    X = np.array(X)
    X = np.column_stack([np.ones(X.shape[0]), X])
    y = np.array(y)
    X_transpose = X.T
    XTX = X_transpose.dot(X)
    XTX += r * np.eye(XTX.shape[0])
    XTX_inverse = np.linalg.inv(XTX)
    w = XTX_inverse.dot(X_transpose).dot(y).round(2)
    
    return w[0], w[1:]

In [17]:
rs = [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

In [18]:
for r in rs:
    w_0, w_1 = train_linear_regression_reg(X_train_0, y_train, r)
    y_pred_val_0 = w_0 + np.array(X_val.fillna(0)).dot(w_1)
    print (r, RMSE(y_val, y_pred_val_0))

0 0.71
1e-06 0.69
0.0001 0.65
0.001 0.75
0.01 0.72
0.1 0.68
1 0.72
5 0.71
10 0.69

$r = 0.001$ appears to optimize the RMSE though only by a small amount

# Question 5

In [19]:
X2 = new_data.drop(["price"], axis = 1).copy()
y2 = new_data["price"]

X2 = X2.fillna(0)

rmses = []

for i in range(1, 10):
    X_train2, X_test2, y_train2, y_test2 = tts(X2, y2, test_size = 0.4, random_state = i)
    X_train2, X_val2, y_train2, y_val2 = tts(X_train2, y_train2, test_size = 0.5, random_state = i)
    y_train2 = np.log1p(y_train2)
    y_val2 = np.log1p(y_val2)
    y_test2 = np.log1p(y_test2)
    w_alpha, w_2 = train_linear_regression(X_train2, y_train2)
    y_pred2 = w_alpha + np.array(X_val2).dot(w_2)
    score = RMSE(y_val2, y_pred2)
    rmses.append(score)

In [20]:
np.mean(rmses), round(np.std(rmses), 3)

(0.6688888888888889, 0.015)

The standard deviation is quite low suggesting the model is relatively stable over random seeds.

# Question 6

In [21]:
w_alpha2, w_3 = train_linear_regression_reg(X_train2, y_train2, r = 0.001)
y_pred3 = w_alpha2 + np.array(X_val2).dot(w_3)
RMSE(y_val2, y_pred3)

0.74

The RMSE is slightly worse with the introduction of regularization in this instance.

As a sidenote, X_train2 was carried forward from the previous question because at the end of that for loop, the data was split on seed 9 which is what this question asks for anyways.